f
<div class="app-card-container">
	<div class="card">
		<h1>About me</h1>
			<div class= "row">
				<div class= "col-md-4">
					<%= image_tag "kjme.png", width: 300, alt: "profile image", class: 'profile-img' %>

					<div class="skills">
	          <% @skills.each do |skill| %>
	            <div class="skill">
	              <h4><%= skill.title %></h4>
	              <div class="progress">
	                <div
	                  class="progress-bar progress-bar-striped bg-warning"
	                  role="progressbar"
	                  aria-valuenow="<%= skill.percent_utilized %>"
	                  aria-valuemax="100"
	                  style="width: <%= skill.percent_utilized %>%"
	                ></div>
	              </div>
	            </div>
	          <% end %>
	        </div>
				</div>
				<div class= "col-md-8">
					<p>I am person with high expectations, particularly of myself. Sometimes others see it and feel it as well, if not consicously then subconsiously. I am always trying to better myself and the work that I do. I believe that anything is possible if someone really cares enough to do what it takes to make it happen. I enjoy seeing plans come to fruition. In software development for sure, but in really any aspect of life. Software development is so fun because it is easy to have and find the tools to make these things happen. I am passionate about creating good solid software for the purpose of enhancing peoples lives. Making people happy and satisfied is important to me in the work that I do.</p>

					<p>Family is the most important thing to me. At the forefront I am Learner, Husband, and eventually Father. But Coder and Software Developer are some of the most amazing titles I have found to use as tools to help me fulfill those other roles of supporting and having a family. Software is something that I can do at home and at work, that I find enjoyment in. It helps me to have a postive influence on my family, both financially as well as emotionally. Me and my wife plan to have kids in the coming years.
					</p>


					 	<p>
		          <button
		            class="btn btn-primary"
		            type="button"
		            data-toggle="collapse"
		            data-target="#jobHistory"
		            aria-expanded="false"
		            aria-controler="jobHistory"
		          >
		            Job History
		          </button>

		          <button
		            class="btn btn-primary"
		            type="button"
		            data-toggle="collapse"
		            data-target="#education"
		            aria-expanded="false"
		            aria-controler="education"
		          >
		            Education
		          </button>
		        </p>

	        	<p>
		          <div class="collapse" id="jobHistory">
		          	<div class="card card-block">
		              QA Automation Engineer Intern | 1800 Contacts Aug 2017 - Nov 2017
		            </div>
		            <div class="card card-block">
		              Mentor | Bottega Tech June 2017 - August 2017
		            </div>
		            <div class="card card-block">
		              Free Lance Developer | Bottega Tech Dec 2016 - May 2017
		            </div>
		            <div class="card card-block">
		              Electrician | Wheat Electric Feb 2016 - Feb 2017
		            </div>
		          </div>

		          	<div class="collapse" id="education">
			            <div class="card card-block">
			              Currently doing online courses through BYU Idaho
			            </div>
			            <div class="card card-block">
			              Accelerated Courses through Bottega Tech
			            </div>
			            <div class="card card-block">
			            	Concurrent Enrollment through SLCC 
			            </div>
			            <div class="card card-block">
			              High School Graduate through BYU Independent Study
			            </div>
		          </div>
		       	</p>
					</div>
				</div>
			</div>
	</div>
</div>

