
<div class="app-card-container">
	<div class="card">
		<h1>About me</h1>
			<div class= "row">
				<div class= "col-md-4">
					<%= image_tag "goggles.jpg", width: 300, alt: "profile image", class: 'profile-img' %>
				</div>
				<div class= "col-md-8">
					<p>There are a lot of lemons about something that like to jump and fishes can also run down to the market to find a jumping leaf to the end of the stick where there are lots of numbers that teach the children how to fly off the water that makes it easy swim are in the ocean to where to turkeys are being cooked into a pie.</p>


					 <p>
		          <button
		            class="btn btn-primary"
		            type="button"
		            data-toggle="collapse"
		            data-target="#jobHistory"
		            aria-expanded="false"
		            aria-controler="jobHistory"
		          >
		            Job History
		          </button>

		          <button
		            class="btn btn-primary"
		            type="button"
		            data-toggle="collapse"
		            data-target="#education"
		            aria-expanded="false"
		            aria-controler="education"
		          >
		            Education
		          </button>
		        </p>

	        	<p>
		          <div class="collapse" id="jobHistory">
		            <div class="card card-block">
		              Job 1
		            </div>
		            <div class="card card-block">
		              Job 2
		            </div>
		          </div>

		          	<div class="collapse" id="education">
			            <div class="card card-block">
			              School 1
			            </div>
			            <div class="card card-block">
			              School 2
			            </div>
			            <div class="card card-block">
			              School 3
			            </div>
		          </div>
		       	</p>
					</div>
				</div>
			</div>
	</div>
</div>

