<h1>Would you like to work together?</h1>

<hr>

<div class="row">
  <div class="col-md-6">
    <h3>Where I live:</h3>

    <p>Cottonwood Heights, UT</p>

    <h3>Phone</h3>

    <p><%= number_to_phone "8014623202" %></p>

    <h3>Email</h3>
    <p> kjroberts39@hotmail.com </p>
    <p><a href="mailto:kjroberts39@hotmail.com?subject=PortfolioContact" "email me">Email me</a> </p>
  </div>

  <div class="col-md-6">
    <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d48462.627871790115!2d-111.85413344311868!3d40.60971571170129!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x875262da72eb3127%3A0x72295629e1a2240!2sCottonwood+Heights%2C+UT!5e0!3m2!1sen!2sus!4v1493068697323" width="450" height="450" frameborder="0" style="border:0" allowfullscreen></iframe>
  </div>
</div>