<div class="inner cover">
  <h1 class="cover-heading">Once upon a time.....</h1>
  <p class="lead">THERE WAS A RABBIT THAT LIKED TO EAT CARROTS!!!</p>
  <p class="lead">
    <%= link_to "Experience", portfolios_path, class: "btn btn-lg btn-secondary" %>
  </p>
</div>